@import '../components/Header';
@import '../components/Footer';
@import './utils/_widgetContent';
@import './utils/_bootstrapCustomization';
@import './utils/_navButton';
@import '../view/MonsterList';

* {
  box-sizing: border-box;
}

.appWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 430px;
  margin: 0 auto;
  height: 100vh;
  min-height: 580px;

  &__view {
    height: 580px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.mainContent {
  height: calc(100% - 90px);
  width: 100%;
  background-color: #8D89A6;
  padding: 20px;
}
