@import './utils/_variables';
@import '../components/Header';
@import '../components/Footer';
@import '../components/Monster';
@import './utils/_widgetContent';
@import './utils/_bootstrapCustomization';
@import './utils/_navButton';
@import '../view/MonstersList';
@import '../view/About';

* {
  box-sizing: border-box;
}

.appWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: $default-view-width;
  margin: 0 auto;
  height: 100vh;
  min-height: $default-view-height;

  &__view {
    height: $default-view-height;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.mainContent {
  height: calc(100% - #{$header-height } - #{$footer-height});
  width: 100%;
  background-color: $main-color;
  padding: 20px;
}

@media (max-width: $max-mobile-width) {
  .appWrapper {
    min-height: 100vh;

    &__view {
      height: 100vh;
    }
  }
}
