//COLORS
$main-color: #8D89A6;
$secondary-color: #3A435E;

//DIMENSIONS
$header-height: 45px;
$footer-height: 45px;
$default-view-height: 580px;
$default-view-width: 430px;
$monster-icon-width: 120px;

//MEDIA
$max-mobile-width: 767px;

