.widgetContent {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 15px;
    
    color: #fff;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.6);
  }
}
