.mainFooter {
  width: 100%;
  height: $footer-height;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $main-color;
  border-top: solid 2px $secondary-color;

  &__text {
    margin-bottom: 0;
  }
}
