.mainHeader {
  width: 100%;
  height: $header-height;
  background-color: $main-color;
  border-bottom: solid 2px $secondary-color;
  padding: 0 10px;

  &__navigation {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
